In [2]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests as rp

In [3]:
base = "http://ufo-api.herokuapp.com/api/sightings/location/near?"
Ontario_lat_max = 56.800878
Ontario_lat_min = 41.771312
Ontario_lng_max = -75.251467
Ontario_lng_min = -95.281572

lats = np.random.uniform(low=Ontario_lat_min, high=Ontario_lat_max, size=500)
lngs = np.random.uniform(low=Ontario_lng_min, high=Ontario_lng_max, size=500)

In [4]:
len(lats), len(lngs)

(500, 500)

In [5]:
city = []
shape = []
state = []
date = []
duration = []
lats_ON = []
lngs_ON = []
for i in np.arange(0,len(lats)):
    try:
        responce = rp.get(f"{base}lat={lats[i]}&lon={lngs[i]}&limit=1").json()
        if responce["sightings"][0]["obj"]["state"] == "ON":
            city.append(responce["sightings"][0]["obj"]["city"])
            shape.append(responce["sightings"][0]["obj"]["shape"])
            state.append(responce["sightings"][0]["obj"]["state"])
            date.append(responce["sightings"][0]["obj"]["date"])
            duration.append(responce["sightings"][0]["obj"]["duration"])
            lats_ON.append(responce["sightings"][0]["obj"]["loc"][0])
            lngs_ON.append(responce["sightings"][0]["obj"]["loc"][1])
    except Exception as e:
        print("could not find")
print("finished")

finished

In [47]:
Combined = pd.DataFrame({"lat":lats_ON,"lng":lngs_ON,"city":city,"shape":shape,"state":state,"date":date,"duration":duration})
Combined.head()

,lat,lng,city,shape,state,date,duration
0,-82.428349,52.923989,Attawapiskat (Canada),Sphere,ON,2012-10-08T21:45:00.000Z,5 minutes
1,-81.146137,44.144277,Walkerton (Canada),Rectangle,ON,2010-01-30T18:45:00.000Z,1 min
2,-82.214605,45.756312,Manitoulin Island (Canada),Fireball,ON,2011-10-22T03:30:00.000Z,5 sec
3,-82.428349,52.923989,Attawapiskat (Canada),Sphere,ON,2012-10-08T21:45:00.000Z,5 minutes
4,-82.428349,52.923989,Attawapiskat (Canada),Sphere,ON,2012-10-08T21:45:00.000Z,5 minutes

In [21]:
x = rp.get("http://ontariobeerapi.ca/beers/").json()

In [32]:
name = []
price = []

for i in np.arange(0,len(x)):
    name.append(x[i]["name"])
    price.append(x[i]["price"])

In [45]:
y = pd.DataFrame({"Name":name, "Price":price})

y.sort_values("Price",a)

                            Name   Price
635    Millennium Buzz Hemp Beer    1.85
283         Mojo Shot Melon Ball   10.00
381            Beer League Lager   10.00
435        Welly Re-booted Vol 4   10.45
439       Revenge Ginger Red IPA   10.50
412                  Laker Light   10.50
411                  Laker Lager   10.50
402          PC Down Under Amber   10.75
39                    Blue Light   10.95
116     Flying Monkeys Amber Ale   10.95
617             Moosehead Radler   10.95
440           Hops & Robbers IPA   10.95
167     Unibroue La Fin Du Monde   10.95
346     Glutenberg American Pale   10.95
707             Maple Sports Ale  100.80
553     Walkerville Geronimo IPA   11.00
554  Walkerville Purity Pilsener   11.00
366       Hey Yall Georgia Peach   11.05
230                 Yanjing Beer   11.05
270              St Ambroise IPA   11.40
708      Swing Bridge Blonde Ale   11.40
160                Stella Artois   11.50
501    Collingwood Rockwell Pils   11.60
282    Belhaven Black Scot Stout   11.70
396                    Laker IPA   11.75
66              Smooth Hoperator   11.80
97        Mikes Harder Bl Cherry   11.95
397                      Red Cap  119.95
414                    Red Baron  119.95
394      Sultana Gold Blonde Ale   12.10
..                           ...     ...
517           Bear Runner Blonde   73.20
709         Bridal Veil Pale Ale   73.20
83        Brock Street Irish Red   73.20
74              Fling Golden Ale   74.40
512    Broadhead Darkhorse Stout   74.40
465                 Wee Gobshite   74.40
510         Grindstone Amber Ale   74.40
537      Strathroy 1815 Frambois   74.95
524              Hopsta La Vista   75.60
525             Loose Lips Lager   75.60
594    Stonehammer Oatmeal Coffe   76.00
161          Grolsch Lager 450ml   77.10
511    Bodacious Blueberry Blond   78.00
272             Mons Abbey Witte    8.05
273            Mons Abbey Blonde    8.05
720           Grolsch Radler 0.0    8.25
643                    Lowenbrau    8.40
46                Keystone Light    8.50
20               Molson Exel 0.5    8.50
542      Refined Fool Troll Toll   80.00
682       Dominion Two Flags IPA   81.60
34                     Budweiser   84.95
136                  Crest Super   85.15
359             Martens 10 Lager   87.60
185         Lolita Sex On The...   87.60
728             Beaus Mix Summer   87.80
309              Bavaria Extreme   89.15
184        Poppers Ricco Sangria    9.40
183             Poppers Wild Ice    9.40
588         Shindig Huron County    9.50

[732 rows x 2 columns]